@media (min-width: 992px) and (max-width:1199px){
.journal_item_left a { 
font-size: 13px;
}
#information {
	padding-top: 58px;
	padding-bottom: 12px;
}
.information_text p {
	padding-bottom: 6px;
}
#inner {
	padding-bottom: 27px;
}
#footer {
	padding-top: 23px;
	padding-bottom: 23px;
    text-align: center;
}
#journal {
	padding-top: 40px;
	padding-bottom: 40px;
}
.instgram_footer {
	padding-top: 40px;
	padding-bottom: 40px;
}
.instgram_titel {
	padding-top: 40px;
}
#service {
	padding-top: 40px;
	padding-bottom: 40px;
}
.service_titel p {
	padding-bottom: 21px;
}
.service_titel h3 {
	font-size: 26px;
	padding-bottom: 25px;
}
.banner_overley {
	padding-top: 150px;
	padding-bottom: 150px;
}
nav {
	line-height: 35px;
}
.navbar-nav .nav-link {
	padding-left: 28px !important;
}
}


/*========== Medium device =============*/
@media (min-width: 768px) and (max-width:991.98px) { 
    .navbar-toggler-icon i {
        color: rgba(74, 199, 25, 0.644);
    }
.banner_overley {
 padding-top: 100px;
 padding-bottom: 100px;}
#service {
	padding-top: 40px;
	padding-bottom: 40px;
}
.profile_text h4 {
	font-size: 23px;
	line-height: 37px;
}
.profile_text p {
	font-size: 16px;
	line-height: 25px;
}
.about_inner_item{
    text-align: center;
}
.about_inner_item_icon i {
	padding-bottom: 10px;
}
.about_inner_item_text p {
	font-size: 12px;
}
.information_text p {
	padding-bottom: 4px;
}
#information {
	padding-top: 40px;
	padding-bottom: 20px;
}
#inner {
	padding-bottom: 10px;
}
#journal {
	padding-top: 40px;
	padding-bottom: 40px;
}

}